<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="0887d9bb-f83b-475b-8628-bcf3ae6d7583"
    Publisher="CN=alexg"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="0887d9bb-f83b-475b-8628-bcf3ae6d7583" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ProtocolHandlerAPP</DisplayName>
    <PublisherDisplayName>alexg</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ProtocolHandlerAPP.App">
      <uap:VisualElements
        DisplayName="ProtocolHandlerAPP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ProtocolHandlerAPP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="com.alexgolesh.sdp-sample-noresults" ReturnResults="none">
            <uap:DisplayName>My Sample #1</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="com.alexgolesh.sdp-sample-optresults" ReturnResults="optional">
            <uap:DisplayName>My Sample #2</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="com.alexgolesh.sdp-sample-results" ReturnResults="always">
            <uap:DisplayName>My Sample #3</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>